<header>
    <p class="title">Jira In Progress Viewer</p>
    <div id="proj_summary">
        <div class="proj proj_green">

        </div>
        <div class="proj proj_yellow">

        </div>
        <div class="proj proj_red">

        </div>
    </div>
</header>

<section class="projects_container">

    <div class="project_template" ng-repeat="project in projects">
        <div class="projects">
            <div class="projects_header">
                <img class="project_avatar" ng-src="{{project.projectAvatar}}"></img>
                <span class="project_title">{{project.projectName}}</span>
                <a href="#" class="project_toggle"></a>
            </div>

            <div class="proj_closed">
            </div>

            <div class="proj_open hidden">
            </div>
        </div>
    </div>

</section>

